* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body{
    background-color: rgb(156, 190, 199);
}
h1{
    text-align: center;
}

#botonCarrito{
    padding-left: 75px;
}

h4{
    text-align: center;
    color: rgb(54, 98, 119);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.btn{
    color: black;

}